# fly.toml app configuration file generated for journal-weathered-breeze-4632 on 2026-02-04T18:36:51+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'journal-weathered-breeze-4632'
primary_region = 'fra'
kill_signal = 'SIGTERM'

[build]

[env]
  PHX_HOST = 'journal-weathered-breeze-4632.fly.dev'
  PORT = '8080'
  DATABASE_PATH = '/data/journal.db'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [http_service.concurrency]
    type = 'connections'
    hard_limit = 1000
    soft_limit = 1000

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1

[[mounts]]
  source = 'journal_data'
  destination = '/data'
  initial_size = '1gb'
